@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCCCFF;
}

#quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#text {
    text-align: center;
}

#author {
    text-align: right;
}

#btn-col {
    justify-content: flex-end;
    display: flex;
}

#new-quote {
    background-color: #CCCCFF;
    border: none;
}

#new-quote:hover {
    filter: brightness(105%);
}